@import url(https://fonts.googleapis.com/css?family=Oxygen);
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v16/2fcrYFNaTjcS6g4U3t-Y5StnKWgpfO2iSkLzTz-AABg.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #536F7A;
  font-family: 'Oxygen', sans-serif;
  color: #C4D1D7;
  margin-bottom: 40px;
}
@media (max-width: 319px) {
  body {
    width: 320px;
  }
}
@media (min-width: 992px) {
  body {
    padding-top: 60px;
    margin-bottom: 100px;
  }
}
.m-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
.btn-default {
  background-color: #536F7A;
  border-color: #283136;
  color: #C4D1D7;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default:active:focus,
.btn-default.active:focus {
  background-color: #8096A4;
  border-color: #283136;
  color: #283136;
}
.btn-primary {
  background-color: #FE6D02;
  border-color: #283136;
  color: #283136;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus {
  background-color: #FEE580;
  border-color: #283136;
  color: #283136;
}
.btn-primary i {
  position: relative;
  top: 3px;
}
.btn-primary span {
  font-size: 12px;
  position: relative;
  top: -3px;
  left: 2px;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: auto;
}
.form-control {
  border-color: #283136;
}
.form-group {
  margin-bottom: 10px;
}
.form-group:last-child {
  margin-bottom: 0;
}
.panel {
  margin: 15px 0;
  background-color: #283136;
}
.panel-footer {
  background-color: #283136;
  border-top: 1px solid #8096A4;
}
.panel-main {
  text-align: center;
}
@media (min-width: 992px) {
  .panel-main {
    position: fixed;
    width: 456px;
  }
}
@media (min-width: 1200px) {
  .panel-main {
    width: 554px;
  }
}
.panel-main .logo {
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
}
.panel-main .logo img {
  float: left;
  width: 256px;
  margin: auto;
}
@media (min-width: 480px) {
  .panel-main .logo img {
    width: 404px;
  }
}
.panel-main .btn-group {
  width: 100%;
}
.panel-main .btn-group .btn-google-dns {
  width: 38.13%;
}
.panel-main .btn-group .btn-open-dns {
  width: 33.46%;
}
.panel-main .btn-group .btn-custom {
  width: 28.79%;
}
@media (min-width: 599px) {
  .panel-main .btn-group .btn {
    width: 33.43%;
  }
}
.panel-main .nameserver {
  margin-top: 10px;
}
.panel-options {
  display: none;
  margin-bottom: -5px;
}
.panel-options .nav-tabs {
  border-color: #8096A4;
}
.panel-options .nav > li {
  width: 50%;
}
.panel-options .nav > li > a {
  font-size: 12px;
  padding: 6px 15px;
  color: #C4D1D7;
  text-align: center;
}
.panel-options .nav > li > a:last-child {
  margin-right: 0;
}
.panel-options .nav-tabs > li.active > a,
.panel-options .nav-tabs > li.active > a:hover,
.panel-options .nav-tabs > li.active > a:focus,
.panel-options .nav > li > a:hover,
.panel-options .nav > li > a:focus {
  background-color: #8096A4;
  border-color: #536F7A;
  color: #283136;
}
.panel-options .tab-pane,
.panel-options .tab-footer {
  background-color: #283136;
  padding: 15px 0 15px 0;
  display: inline-block;
  width: 100%;
}
.panel-options .tab-pane .row,
.panel-options .tab-footer .row {
  margin: 0 0 3px 0;
  clear: both;
}
.panel-options .tab-pane .row::after,
.panel-options .tab-footer .row::after {
  clear: both;
}
.panel-options .tab-footer {
  border-top: 1px solid #8096A4;
  margin-top: -5px;
  border-bottom: 1px solid transparent;
  border-radius: 0 0 4px 4px;
}
.panel-options .btn-default {
  font-size: 11px;
  background-color: #ffffff;
  border-color: #283136;
  color: #283136;
}
.panel-options .btn-default:hover,
.panel-options .btn-default:focus,
.panel-options .btn-default:active,
.panel-options .btn-default.active,
.panel-options .btn-default:active:hover,
.panel-options .btn-default.active:hover,
.panel-options .btn-default:active:focus,
.panel-options .btn-default.active:focus {
  background-color: #FEE580;
  border-color: #283136;
  color: #283136;
}
.panel-options .btn-default:focus,
.panel-options .btn-default.disabled:focus,
.panel-options .btn-default.disabled:hover {
  background-color: #ffffff;
  border-color: #283136;
  color: #283136;
}
.panel-options .btn-default.type {
  width: 32.53%;
  font-size: 11px;
  padding: 6px 5px 6px 10px;
}
@media (min-width: 480px) {
  .panel-options .btn-default.type {
    font-size: 12px;
    width: 32.83%;
  }
}
.panel-options .btn-default.type i {
  font-size: 22px;
}
@media (min-width: 599px) {
  .panel-options .btn-default.type span {
    top: 3px;
  }
}
.panel-options .btn-default.active {
  font-weight: bold;
}
.panel-options .btn-default span {
  position: relative;
  top: 3px;
  max-width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 599px) {
  .panel-options .btn-default span {
    top: 1px;
    max-width: 90%;
  }
}
@media (min-width: 480px) {
  .panel-options .btn-default {
    font-size: 12px;
  }
}
@media (min-width: 599px) {
  .panel-options .btn-default {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .panel-options {
    margin-top: 15px;
  }
}
.panel-queue .header {
  font-size: 10px;
  margin-bottom: 5px;
}
@media (min-width: 992px) {
  .panel-queue .panel-body {
    min-height: 142px;
  }
}
.panel-queue .item span {
  max-width: 80%;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 480px) {
  .panel-queue .item span {
    max-width: 85%;
    font-size: 12px;
  }
}
@media (min-width: 599px) {
  .panel-queue .item span {
    font-size: 14px;
  }
}
.panel-queue .btn-primary.disabled:focus,
.panel-queue .btn-primary.disabled:hover {
  background-color: #FE6D02;
}
.panel-actions {
  display: inline-block;
  width: 100%;
}
.panel-actions button {
  width: 50%;
  background-color: #8096A4;
  border-color: #536F7A;
  color: #283136;
}
.panel-actions button:hover,
.panel-actions button:focus,
.panel-actions button:active,
.panel-actions button.active,
.panel-actions button:active:hover,
.panel-actions button.active:hover,
.panel-actions button:active:focus,
.panel-actions button.active:focus {
  background-color: #C4D1D7;
  border-color: #536F7A;
  color: #283136;
}
.panel-actions button i {
  position: relative;
  top: 3px;
}
.panel-results .panel {
  border-bottom: 0;
  border-color: #536F7A;
}
.panel-results .panel-heading {
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 480px) {
  .panel-results .panel-heading {
    font-size: 12px;
  }
}
@media (min-width: 599px) {
  .panel-results .panel-heading {
    font-size: 14px;
  }
}
.panel-results .panel-body {
  background-color: #ffffff;
  color: #283136;
}
.panel-results .panel-body span {
  font-size: 11px;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 480px) {
  .panel-results .panel-body span {
    max-width: 85%;
    font-size: 12px;
  }
}
@media (min-width: 599px) {
  .panel-results .panel-body span {
    font-size: 14px;
  }
}
.panel-results .btn-group {
  width: 100%;
  margin-top: -15px;
}
.panel-results .btn-group .btn-primary {
  width: 50.15%;
  background-color: #FE6D02;
  border-color: #536F7A;
  color: #283136;
}
.panel-results .btn-group .btn-primary:hover,
.panel-results .btn-group .btn-primary:focus,
.panel-results .btn-group .btn-primary:active,
.panel-results .btn-group .btn-primary.active,
.panel-results .btn-group .btn-primary:active:hover,
.panel-results .btn-group .btn-primary.active:hover,
.panel-results .btn-group .btn-primary:active:focus,
.panel-results .btn-group .btn-primary.active:focus {
  background-color: #FEE580;
  border-color: #536F7A;
  color: #283136;
}
.panel-results .btn-group .btn-primary:first-child:not(:last-child) {
  border-top-left-radius: 0;
}
.panel-results .btn-group .btn-primary:last-child:not(:first-child) {
  border-top-right-radius: 0;
}
@media (min-width: 375px) {
  .panel-results .btn-group .btn-primary {
    width: 50.10%;
  }
}
@media (min-width: 547px) {
  .panel-results .btn-group .btn-primary {
    width: 50.05%;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .panel-results .btn-group .btn-primary {
    width: 360px;
  }
  .panel-results .btn-group .btn-primary:last-child {
    width: 361px;
  }
}
@media (min-width: 992px) {
  .panel-results .btn-group .btn-primary {
    width: 228px;
  }
}
@media (min-width: 1200px) {
  .panel-results .btn-group .btn-primary {
    width: 278px;
  }
}
.panel-up {
  margin: 15px 0;
}
.panel-up button {
  background-color: #8096A4;
  border-color: #536F7A;
  color: #283136;
}
.panel-up button:hover,
.panel-up button:focus,
.panel-up button:active,
.panel-up button.active,
.panel-up button:active:hover,
.panel-up button.active:hover,
.panel-up button:active:focus,
.panel-up button.active:focus {
  background-color: #C4D1D7;
  border-color: #536F7A;
  color: #283136;
}
.panel-up button i {
  position: relative;
  top: 3px;
}
.footer {
  font-size: 11px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #283136;
  padding: 9px 15px 5px 15px;
}
@media (max-width: 319px) {
  .footer {
    width: 320px;
  }
}
.footer .copy {
  display: inline-block;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer img {
  width: 16px;
}
.footer a {
  color: #C4D1D7;
}
.footer a:hover {
  color: #536F7A;
  text-decoration: none;
}