@import url(https://fonts.googleapis.com/css?family=Oxygen|VT323);
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v14/2fcrYFNaTjcS6g4U3t-Y5StnKWgpfO2iSkLzTz-AABg.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
body {
  background-color: #536F7A;
  font-family: 'Oxygen', sans-serif;
  color: #C4D1D7;
}
@media (max-width: 319px) {
  body {
    width: 320px;
  }
}
.m-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
.m-icon-add-circle-outline:before {
  content: "add_circle_outline";
}
.m-icon-add-circle:before {
  content: "add_circle";
}
.m-icon-done:before {
  content: "done";
}
.m-icon-done-all:before {
  content: "done_all";
}
.m-icon-vertical-align-bottom:before {
  content: "vertical_align_bottom";
}
.m-icon-clear:before {
  content: "clear";
}
.m-icon-arrow-upward:before {
  content: "arrow_upward";
}
.btn-default {
  background-color: #536F7A;
  border-color: #283136;
  color: #C4D1D7;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default:active:focus,
.btn-default.active:focus {
  background-color: #8096A4;
  border-color: #283136;
  color: #283136;
}
.btn-primary {
  background-color: #FE6D02;
  border-color: #283136;
  color: #283136;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus {
  background-color: #FEE580;
  border-color: #283136;
  color: #283136;
}
.btn-primary i {
  position: relative;
  top: 3px;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: auto;
}
.form-control {
  border-color: #283136;
}
.form-group {
  margin-bottom: 10px;
}
.form-group:last-child {
  margin-bottom: 0;
}
.panel {
  margin: 15px 0;
  background-color: #283136;
}
.panel-footer {
  background-color: #283136;
  border-top: 1px solid #8096A4;
}
.panel-main {
  text-align: center;
}
.panel-main .logo {
  display: inline-block;
  margin-bottom: 15px;
}
@media (min-width: 480px) {
  .panel-main .logo {
    margin-bottom: 25px;
  }
}
.panel-main .logo img {
  float: left;
  width: 42px;
}
@media (min-width: 480px) {
  .panel-main .logo img {
    margin-left: -4px;
    width: 77px;
    height: 68px;
  }
}
.panel-main .logo h1 {
  font-family: 'VT323';
  font-size: 72px;
  line-height: 0;
  color: #ffffff;
  float: left;
  margin: 18px 0 0 5px;
}
@media (min-width: 480px) {
  .panel-main .logo h1 {
    margin: 29px 0 0 5px;
    font-size: 116px;
  }
}
.panel-main .btn-group {
  margin-bottom: 10px;
  width: 100%;
}
.panel-main .btn-group .btn-google-dns {
  width: 38.13%;
}
.panel-main .btn-group .btn-open-dns {
  width: 33.46%;
}
.panel-main .btn-group .btn-custom {
  width: 28.79%;
}
@media (min-width: 599px) {
  .panel-main .btn-group .btn {
    width: 33.43%;
  }
}
.panel-options {
  margin-bottom: -5px;
}
.panel-options .nav-tabs {
  border-color: #8096A4;
}
.panel-options .nav > li {
  width: 50%;
}
.panel-options .nav > li > a {
  font-size: 12px;
  padding: 6px 15px;
  color: #C4D1D7;
  text-align: center;
}
.panel-options .nav > li > a:last-child {
  margin-right: 0;
}
.panel-options .nav-tabs > li.active > a,
.panel-options .nav-tabs > li.active > a:hover,
.panel-options .nav-tabs > li.active > a:focus,
.panel-options .nav > li > a:hover,
.panel-options .nav > li > a:focus {
  background-color: #8096A4;
  border-color: #536F7A;
  color: #283136;
}
.panel-options .tab-pane,
.panel-options .tab-footer {
  background-color: #283136;
  padding: 15px 0 15px 0;
  display: inline-block;
  width: 100%;
}
.panel-options .tab-pane .row,
.panel-options .tab-footer .row {
  margin: 0 0 3px 0;
  clear: both;
}
.panel-options .tab-pane .row::after,
.panel-options .tab-footer .row::after {
  clear: both;
}
.panel-options .tab-footer {
  border-top: 1px solid #8096A4;
  margin-top: -5px;
  border-bottom: 1px solid transparent;
  border-radius: 0 0 4px 4px;
}
.panel-options .btn-default {
  background-color: #ffffff;
  border-color: #283136;
  color: #283136;
}
.panel-options .btn-default:hover,
.panel-options .btn-default:focus,
.panel-options .btn-default:active,
.panel-options .btn-default.active,
.panel-options .btn-default:active:hover,
.panel-options .btn-default.active:hover,
.panel-options .btn-default:active:focus,
.panel-options .btn-default.active:focus {
  background-color: #FEE580;
  border-color: #283136;
  color: #283136;
}
.panel-options .btn-default:focus,
.panel-options .btn-default.disabled:focus,
.panel-options .btn-default.disabled:hover {
  background-color: #ffffff;
  border-color: #283136;
  color: #283136;
}
.panel-options .btn-default.type {
  width: 32.53%;
  font-size: 11px;
  padding: 6px 5px 6px 10px;
}
@media (min-width: 480px) {
  .panel-options .btn-default.type {
    width: 32.83%;
  }
}
.panel-options .btn-default.type span {
  margin-top: 3px;
}
.panel-options .btn-default.type i {
  font-size: 22px;
}
.panel-options .btn-default.active {
  font-weight: bold;
}
.panel-options .btn-default span {
  margin-top: 2px;
}
@media (min-width: 992px) {
  .panel-options {
    margin-top: 15px;
  }
}
.panel-queue .header {
  font-size: 10px;
  margin-bottom: 5px;
}
.panel-actions {
  margin-top: -1px;
  display: inline-block;
  width: 100%;
}
.panel-actions button {
  width: 50%;
  background-color: #8096A4;
  border-color: #536F7A;
  color: #283136;
}
.panel-actions button:hover,
.panel-actions button:focus,
.panel-actions button:active,
.panel-actions button.active,
.panel-actions button:active:hover,
.panel-actions button.active:hover,
.panel-actions button:active:focus,
.panel-actions button.active:focus {
  background-color: #C4D1D7;
  border-color: #536F7A;
  color: #283136;
}
.panel-actions button i {
  position: relative;
  top: 3px;
}