@debug: solid 1px red;
@back: #536F7A;
@back-dark: #283136;
@text: #ffffff;
@button-active: #8096A4;
@button-text: #C4D1D7;

@font: 'Oxygen', sans-serif;
@logo-font: 'VT323',;

@break1: 319px;
@break2: 480px;
@break3: 599px;

@import url(https://fonts.googleapis.com/css?family=Oxygen|VT323);

body {
    background-color: @back;
    font-family: @font;

    @media (max-width:319px) {
        width: 320px;
    }
}

.btn-default {
    background-color: @back;
    border-color: @back-dark;
    color: @button-text;

    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active,
    &:active:hover,
    &.active:hover,
    &:active:focus,
    &.active:focus {
        background-color: @button-active;
        border-color: @back-dark;
        color: @back-dark;
    }
}

.form-control {
    border-color: @back-dark;
}

.form-group {
    margin-bottom: 10px;
}

@import "panel-main";
@import "panel-options";