@import "main";

.panel-queue {
    .header {
        font-size: 10px;
        margin-bottom: 5px;

        span {
            padding-right: 2px;
        }
    }

    .panel-body {
        @media (min-width: @break4) {
            min-height: 142px;
        }
    }

    .item {
        &.uncommitted {
            font-style: italic;
            opacity: .7;
        }

        span {
            padding-right: 2px;
            max-width: 80%;
            font-size: 11px;
            .ellipsis();

            @media (min-width: @break2) {
                max-width: 85%;
                font-size: 12px;
            }

            @media (min-width: @break3) {
                font-size: 14px;
            }
        }
    }

    .btn-primary {
        &.disabled:focus,
        &.disabled:hover {
            background-color: @button-primary;
        }
    }
}
