@import "main";

.panel-main {
    text-align: center;

    @media (min-width: @break4) {
        position: fixed;
        width: 456px;
    }

    @media (min-width: @break5) {
        width: 554px;
    }

    .logo {
        display: inline-block;
        margin-bottom: 10px;
        text-align: center;

        img {
            float: left;
            width: 256px;
            margin: auto;

            @media (min-width: @break2) {
                width: 404px;
            }
        }
    }

    .btn-group {
        width: 100%;

        & .btn-google-dns {
            width: 38.13%;
        }

        & .btn-open-dns {
            width: 33.46%;
        }

        & .btn-custom {
            width: 28.79%;
        }

        & .btn {
            @media (min-width: @break3) {
                width: 33.43%;
            }
        }
    }

    .server {
        display: none;
        margin-top: 10px;
    }
}