<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DNS.rip: A DNS Lookup Tool</title>
    @Styles.Render("~/assets/css/default.bundle/")
</head>
<body>
    <div class="container">
        <form id="form">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-main">
                        <div class="panel-body">
                            <div class="logo">
                                <img src="/assets/img/logo.svg" alt="DNS.rip" />
                                <h1>DNS.rip</h1>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="query" id="query"
                                       maxlength="100" placeholder="Enter a hostname, IP, or URL" />
                            </div>
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <button type="button" class="btn btn-default btn-google-dns active">Goolge DNS</button>
                                <button type="button" class="btn btn-default btn-open-dns">OpenDNS</button>
                                <button type="button" class="btn btn-default btn-custom">Custom</button>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="server" id="server"
                                       maxlength="100" placeholder="Enter a nameserver" />
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    @Scripts.Render("~/assets/js/default.bundle/")
</body>
</html>