<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
    @Styles.Render("~/assets/css/default.bundle/")
</head>
<body>
    <div>
        <h1>Index</h1>
    </div>
    @Scripts.Render("~/assets/js/default.bundle/")
</body>
</html>