<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DNS.rip: A DNS Lookup Tool</title>
    @Styles.Render("~/assets/css/default.bundle/")
</head>
<body>
    <div class="container">
        <form id="form">
            <div class="row">

                <div class="col-md-6">
                    <div class="panel panel-main">
                        <div class="panel-body">
                            <div class="logo">
                                <img src="/assets/img/logo.svg" alt="DNS.rip" />
                                <h1>DNS.rip</h1>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="query" maxlength="100"
                                       placeholder="Enter a hostname, IP, or URL" />
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-default btn-google-dns active">Goolge DNS</button>
                                <button type="button" class="btn btn-default btn-open-dns">OpenDNS</button>
                                <button type="button" class="btn btn-default btn-custom">Custom</button>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="server" maxlength="100"
                                       placeholder="Enter a nameserver" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">

                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#hosts">Hosts/IPs</a></li>
                            <li><a href="#types">Types</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="hosts">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-default btn-block active">
                                        <span class="pull-left">google.com</span>
                                        <i class="m-icon pull-right">&#xE147;</i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-block active">
                                        <span class="pull-left">googasdfasdfasdfasdfasasdbasdbsdabbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbsdbasdbafdbasdfbarbarbarbbrbrrgfasdfsadfasdfle.com</span>
                                        <i class="m-icon pull-right">&#xE147;</i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-block">
                                        <span class="pull-left">www.gooasdfasdfasdfasdfasdfasdfasdfasdfasdfsfgle.com</span>
                                        <i class="m-icon pull-right">&#xE148;</i>
                                    </button>
                                </div>
                            </div>
                            <div class="tab-pane hide" id="types">
                                <div class="col-md-12">
                                    <div class="row">
                                        <button type="button" class="btn btn-default type">
                                            <span class="pull-left">A</span>
                                            <i class="m-icon pull-right">&#xE147;</i>
                                        </button>
                                        <button type="button" class="btn btn-default type">
                                            <span class="pull-left">AAAA</span>
                                            <i class="m-icon pull-right">&#xE148;</i>
                                        </button>
                                        <button type="button" class="btn btn-default type active">
                                            <span class="pull-left">CNAME</span>
                                            <i class="m-icon pull-right">&#xE148;</i>
                                        </button>
                                    </div>
                                    <div class="row">
                                        <button type="button" class="btn btn-default type">
                                            <span class="pull-left">MX</span>
                                            <i class="m-icon pull-right">&#xE148;</i>
                                        </button>
                                        <button type="button" class="btn btn-default type">
                                            <span class="pull-left">NS</span>
                                            <i class="m-icon pull-right">&#xE148;</i>
                                        </button>
                                        <button type="button" class="btn btn-default type">
                                            <span class="pull-left">SOA</span>
                                            <i class="m-icon pull-right">&#xE148;</i>
                                        </button>
                                    </div>
                                    <div class="row">
                                        <button type="button" class="btn btn-default type">
                                            <span class="pull-left">TXT</span>
                                            <i class="m-icon pull-right">&#xE148;</i>
                                        </button>
                                        <button type="button" class="btn btn-default type disabled">
                                            <span class="pull-left">PTR</span>
                                            <i class="m-icon pull-right">&#xE148;</i>
                                        </button>
                                        <button type="button" class="btn btn-default type">
                                            <span class="pull-left">ANY</span>
                                            <i class="m-icon pull-right">&#xE148;</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-footer">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-block">
                                        <i class="m-icon">&#xE876;</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-queue">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="row header">
                                    <span class="pull-left">Lookups</span>
                                    <span class="pull-right">Server [8.8.4.4]</span>
                                </div>
                                <div class="row item">
                                    <span class="pull-left">google.com</span>
                                    <span class="pull-right">A</span>
                                </div>
                                <div class="row item">
                                    <span class="pull-left">googasdfasdfasdfasdfasasdbasdbsdabbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbsdbasdbafdbasdfbarbarbarbbrbrrgfasdfsadfasdfle.com</span>
                                    <span class="pull-right">CNAME</span>
                                </div>
                                <div class="row item">
                                    <span class="pull-left">www.google.com</span>
                                    <span class="pull-right">A</span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="button" class="btn btn-primary btn-block">
                                <i class="m-icon">&#xE877;</i>
                            </button>
                        </div>
                    </div>

                    <div class="btn-group btn-group-sm panel-actions">
                        <button type="button" class="btn">
                            <i class="m-icon">&#xE258;</i>
                        </button>
                        <button type="button" class="btn">
                            <i class="m-icon">&#xE14C;</i>
                        </button>
                    </div>

                    <div class="panel-results">
                        <div class="panel">
                            <div class="panel-heading">
                                googasdfasdfasdfasdfasasdbasdbsdabbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbsdbasdbafdbasdfbarbarbarbbrbrrgfasdfsadfasdfle.com
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <span class="pull-left">CNAME</span>
                                        <span class="pull-right">googasdfasdfasdfasdfasasdbasdbsdabbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbsdbasdbafdbasdfbarbarbarbbrbrrgfasdfsadfasdfle.com</span>
                                    </div>
                                    <div class="row">
                                        <span class="pull-left">A</span>
                                        <span class="pull-right">216.58.192.238</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-primary">
                                <i class="m-icon">&#xE258;</i>
                            </button>
                            <button type="button" class="btn btn-primary">
                                <i class="m-icon">&#xE14C;</i>
                            </button>
                        </div>
                    </div>

                    <div class="panel-results">
                        <div class="panel">
                            <div class="panel-heading">
                                google.com
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <span class="pull-left">A</span>
                                        <span class="pull-right">216.58.192.238</span>
                                    </div>
                                    <div class="row">
                                        <span class="pull-left">A</span>
                                        <span class="pull-right">216.58.192.238</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-primary">
                                <i class="m-icon">&#xE258;</i>
                            </button>
                            <button type="button" class="btn btn-primary">
                                <i class="m-icon">&#xE14C;</i>
                            </button>
                        </div>
                    </div>

                    <div class="panel-up">
                        <button type="button" class="btn btn-block btn-sm btn-default">
                            <i class="m-icon">&#xE5D8;</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    @Scripts.Render("~/assets/js/default.bundle/")
</body>
</html>