<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DNS.rip: A DNS Lookup Tool</title>
    @Styles.Render("~/assets/css/default.bundle/")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-body">
                        <img class="logo" src="/assets/img/logo.svg" alt="DNS.rip" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/assets/js/default.bundle/")
</body>
</html>