<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DNS.rip: A DNS Lookup Tool</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/icons/manifest.json">
    <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/assets/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="A demo site for DnsRip: https://github.com/ed-caicedo/DnsRip" />
    @Styles.Render("~/assets/css/default.bundle/")
</head>
<body>
    <div class="container">
        <form id="form">
            <div class="row">

                <!--main-->
                <div class="col-md-6">
                    <div class="panel panel-main">
                        <div class="panel-body">
                            <div class="logo center-block">
                                <img src="/assets/img/logo.png" alt="DNS.rip" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="query" id="query" maxlength="100"
                                       placeholder="Enter a hostname, IP, or URL" />
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-default btn-google-dns dns active" data-value="8.8.8.8">Goolge DNS</button>
                                <button type="button" class="btn btn-default btn-open-dns dns" data-value="208.67.222.222">OpenDNS</button>
                                <button type="button" class="btn btn-default btn-custom dns">Custom</button>
                            </div>
                            <div id="server-container" class="form-group server">
                                <input type="text" class="form-control" name="server" id="server" maxlength="100"
                                       placeholder="Enter a nameserver"  data-bind="textInput: customServer" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">

                    <!--options-->
                    <div class="panel-options" data-bind="fade: optionsVisible">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#hosts">Hosts/IPs</a></li>
                            <li><a href="#types">Types</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="hosts">
                                <div class="col-md-12">
                                    <div data-bind="foreach: hosts">
                                        <button type="button" class="btn btn-default btn-block" data-bind="css: { active: selected }">
                                            <span class="pull-left" data-bind="text: name"></span>
                                            <i class="m-icon pull-right" data-bind="text: selected ? '&#xE147;' : '&#xE148;'"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane hidden" id="types">
                                <div class="col-md-12">
                                    <div class="row">
                                        <button type="button" class="btn btn-default type">
                                            <span class="pull-left">A</span>
                                            <i class="m-icon pull-right">&#xE147;</i>
                                        </button>
                                        <button type="button" class="btn btn-default type">
                                            <span class="pull-left">AAAA</span>
                                            <i class="m-icon pull-right">&#xE148;</i>
                                        </button>
                                        <button type="button" class="btn btn-default type active">
                                            <span class="pull-left">CNAME</span>
                                            <i class="m-icon pull-right">&#xE148;</i>
                                        </button>
                                    </div>
                                    <div class="row">
                                        <button type="button" class="btn btn-default type">
                                            <span class="pull-left">MX</span>
                                            <i class="m-icon pull-right">&#xE148;</i>
                                        </button>
                                        <button type="button" class="btn btn-default type">
                                            <span class="pull-left">NS</span>
                                            <i class="m-icon pull-right">&#xE148;</i>
                                        </button>
                                        <button type="button" class="btn btn-default type">
                                            <span class="pull-left">SOA</span>
                                            <i class="m-icon pull-right">&#xE148;</i>
                                        </button>
                                    </div>
                                    <div class="row">
                                        <button type="button" class="btn btn-default type">
                                            <span class="pull-left">TXT</span>
                                            <i class="m-icon pull-right">&#xE148;</i>
                                        </button>
                                        <button type="button" class="btn btn-default type disabled">
                                            <span class="pull-left">PTR</span>
                                            <i class="m-icon pull-right">&#xE148;</i>
                                        </button>
                                        <button type="button" class="btn btn-default type">
                                            <span class="pull-left">ANY</span>
                                            <i class="m-icon pull-right">&#xE148;</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-footer">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-block">
                                        <i class="m-icon">&#xE876;</i>
                                        <span>Save Lookups</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--queue-->
                    <div class="panel panel-queue">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="row header">
                                    <span class="pull-left">Lookups</span>
                                    <span class="pull-right">Server [ <span data-bind="text: server"></span> ]</span>
                                </div>
                                <div class="row item" data-bind="visible: !queued().length">
                                    <span class="pull-left">[Empty]</span>
                                </div>
                                <div data-bind="foreach: queued">
                                    <div class="row item uncommitted">
                                        <span class="pull-left host" data-bind="text: name"></span>
                                        <span class="pull-right type" data-bind="text: type"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="button" class="btn btn-primary btn-block disabled" data-bind="css: { disabled: !queued().length  }">
                                <i class="m-icon">&#xE877;</i>
                                <span>Run Lookups</span>
                            </button>
                        </div>
                    </div>

                    <!--actions-->
                    <div class="btn-group btn-group-sm panel-actions hidden">
                        <button type="button" class="btn">
                            <i class="m-icon">&#xE258;</i>
                        </button>
                        <button type="button" class="btn">
                            <i class="m-icon">&#xE14C;</i>
                        </button>
                    </div>

                    <!--results-->
                    <div class="panel-results hidden">
                        <div class="panel">
                            <div class="panel-heading">
                                googasdfasdfasdfasdfasasdbasdbsdabbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbsdbasdbafdbasdfbarbarbarbbrbrrgfasdfsadfasdfle.com
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <span class="pull-left">CNAME</span>
                                        <span class="pull-right">googasdfasdfasdfasdfasasdbasdbsdabbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbsdbasdbafdbasdfbarbarbarbbrbrrgfasdfsadfasdfle.com</span>
                                    </div>
                                    <div class="row">
                                        <span class="pull-left">A</span>
                                        <span class="pull-right">216.58.192.238</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-primary">
                                <i class="m-icon">&#xE258;</i>
                            </button>
                            <button type="button" class="btn btn-primary">
                                <i class="m-icon">&#xE14C;</i>
                            </button>
                        </div>
                    </div>

                    <div class="panel-up hidden">
                        <button type="button" class="btn btn-block btn-sm btn-default">
                            <i class="m-icon">&#xE5D8;</i>
                        </button>
                    </div>
                </div>

            </div>

            <!--footer-->
            <div class="footer">
                <span class="copy">
                    Copyright &copy; Ed Caicedo 2016 | A demo site for
                    <a href="https://github.com/ed-caicedo/DnsRip" target="_blank">DnsRip</a>
                </span>
                <span class="pull-right">
                    <a href="https://github.com/ed-caicedo/DnsRip" target="_blank">
                        <img src="/assets/img/github.png" alt="GitHub" />
                    </a>
                </span>
            </div>

        </form>
    </div>
    @Scripts.Render("~/assets/js/default.bundle/")
</body>
</html>